.logostart {
  color: $accent-color;
}

.container {
  width: 450px;
  padding: 0 15px;
  @media screen and (min-width: $tablet-width) {
    width: 737px;
    margin: 0 auto;
  }
  @media screen and (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.img_block {
  display: block;
}

.title {
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
