.nav {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    margin-right: 50px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-right: 305px;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $tablet-width) {
      margin-right: 50px;
    }
  }

  &__link {
    position: relative;

    padding: 32px 0;

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    transition-property: color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--current::after {
      content: '';

      display: block;
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;

      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}

.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: $accent-color;
}

.mail,
.phone {
  @media screen and (min-width: $tablet-width) {
    display: inline-flex;
    font-size: 12px;
    align-items: center;
  }
  @media screen and (min-width: $desktop-width) {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
  }

  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-type;
}

.mail {
  margin-bottom: 10px;
  @media screen and (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 0;
  }

  &__icon {
    width: 14px;
    height: 10px;
    @media screen and (min-width: $desktop-width) {
      width: 16px;
      height: 12px;
    }
  }
}

.phone__icon {
  width: 10px;
  height: 14px;
  @media screen and (min-width: $desktop-width) {
    width: 10px;
    height: 16px;
  }
}

.mail__icon,
.phone__icon {
  margin-right: 8px;
  @media screen and (min-width: $desktop-width) {
    margin-right: 10px;
  }

  fill: currentColor;

  transition-property: fill;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-type;
}
.mail__icon:hover,
.mail__icon:focus,
.phone__icon:hover,
.phone__icon:focus {
  fill: currentColor;
}

.menu-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 0 48px 40px;
  background-color: $white-color;
  z-index: 1;

  &.is-open {
    display: block;
  }
}

.menu-nav {
  margin-bottom: 302px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-nav__link {
  font-family: $main-font-family;
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-type;

  &:hover,
  &:focus,
  &--current {
    color: $accent-color;
  }
}

.menu-contacts {
  margin-bottom: 64px;

  &__phone {
    display: block;
    margin-bottom: 32px;

    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
  &__mail {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: $primary-text-color;
  }
}

.menu-networks {
  display: inline-flex;
  position: relative;
}

.menu-networks__item {
  margin-right: 20px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $accent-color;

  &:not(:last-child)::after {
    content: '';

    display: inline-flex;
    position: absolute;
    top: 50%;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);

    transform: rotate(90deg);
  }
}
